#login {
  /* background-color: whitesmoke; */
  padding: 10px 60px;
}
#message {
  font-size: large;
}
#user-sign-up {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
}
#sign-in {
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  font-size: 2.5rex;
}
.text-box {
  padding: 3px;
}
#account-info {
  margin-top: 10px;
}
form {
  max-width: fit-content;
  margin: auto;
}
#sign-up {
  float: right;
  margin-top: 5px;
  margin-right: 1%;
  padding: 3px;
}
#sign-in-redirect {
  text-align: center;
  margin-top: 10%;
}
#sign-up-form {
  /* background-color: aliceblue; */
  padding: 20px 50px 5px 50px;
  border: 1px solid black;
}
